.black-background {
    background-color: black!important;
    color: white;
    /* z-index: 1; */
}
.answerBtn {
    background-color: black!important;
}

.responseBtn {
    background-color: black!important;
}